@import "./variables";

html,
body {
  font-family: $font_family;
  font-size: $number * 2;
  background-color: $body_color;
  overflow-x: hidden;
  user-select: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: $heading_color;
}
ul {
  list-style: none;
}
input,
textarea {
  outline: none;
}
