// FONTS
$font_family: "Merriweather Sans", sans-serif;
$font_logo: "Protest Guerrilla", sans-serif;
//COLORS
$body_color: #fff;
$secondary_body_color: #fafafa;
$heading_color: #585858;
$paragraph_color: #787878;
$color_fav: #db005b;
$color_pastel: #81689D;
$color_bg_hover: #060047;
$color_blue: #2046f2;
$hover_color_btn: #c2bcbc;
$border_color: #618264;
$hover_btn:#474F7A;
//SPACE
$number: 8px;
$number_second: 5px;
//TRANSITION
$transition: 0.4ms;
//BORDER
$border: 10px solid $border_color;
